<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         id="WebApp_ID" 
         version="3.1">
         
	<!-- log4j2 환경 정보 시작  -->
	<context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>/WEB-INF/config/log4j2.xml</param-value>
    </context-param>   
	<!-- log4j2 환경 정보 종료  -->
	
	<!-- log4j2 리스너 시작  -->
	<listener>
    	<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>
    <!-- log4j2 리스너 종료  -->
    
    <!-- HTTP 인코딩 필터 설정 시작 -->
    <filter>
        <filter-name>httpEncodingFilter</filter-name>
        <filter-class>com.sist.web.filter.HttpEncodingFilter</filter-class>            
        <init-param>
        	<param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <!-- HTTP 인코딩 필터 설정 종료 -->
    
    <!-- 사용자 인증 체크 Filter 시작 -->
    <filter>
          <filter-name>urlUserAuthFilter</filter-name>
          <filter-class>com.sist.web.filter.UrlUserAuthFilter</filter-class>            
           <init-param>
                <param-name>authUrl</param-name>
                <param-value>/board</param-value> <!-- 콤마(,) 구분으로 여러개 등록가능 ex) /board,/user -->
           </init-param>
    </filter>
    <!-- 사용자 인증 체크 Filter 종료 -->
     
    <!-- HTTP 인코딩 필터 매핑 종료 -->
    <filter-mapping>
    	<filter-name>httpEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<!-- HTTP 인코딩 필터 매핑 종료 -->
	
	<!-- 사용자 인증 체크 Filter Mapping 시작 -->
    <filter-mapping>
        <filter-name>urlUserAuthFilter</filter-name>
        <url-pattern>*.jsp</url-pattern> <!-- 모든 jsp 파일  -->
    </filter-mapping>
    <!-- 사용자 인증 체크 Filter Mapping 종료 -->
	
	<welcome-file-list>
	    <welcome-file>/index.html</welcome-file>
	    <welcome-file>/index.jsp</welcome-file>
  	</welcome-file-list>
	
</web-app>